<!-- input[type=text][placeholder="Cidade"] -->
<body>
  <div> Abaixo está o seu historico de pesquisas Salvas</div>

    <button
      type="button"
      (click)="buscarHistorico()">
      Meu Histórico
    </button>


    <p-table [value]="historic">
      <ng-template pTemplate="header">
          <tr>
              <th style="text-align: center">cidade</th>
              <th style="text-align: center">datapesquisa</th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-historic>
          <tr>
              <td style="text-align: center">{{historic.cidade}}</td>
              <td style="text-align: center">{{historic.temperaturaMin}}</td>
          
          </tr>
      </ng-template>
    </p-table> 
</body>