<!-- input[type=text][placeholder="Cidade"] -->
<body>
  <div> Abaixo está o seu historico de pesquisas</div>

    <button
      class="btn btn-light"
      type="button"
      (click)="buscarHistorico()">
      Mostrar Histórico
    </button>


    <p-table [value]="historic">
      <ng-template pTemplate="header">
          <tr>
              <th style="text-align: center">Cidade</th>
              <th style="text-align: center">Data da Pesquisa</th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-historic>
          <tr>
              <td style="text-align: center">{{historic.cidade}}</td>
              <td style="text-align: center">{{historic.datapesquisa}}</td>
          
          </tr>
      </ng-template>
    </p-table> 
</body>